/* .main__grid {
  width: 500px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border: 1px solid black;
} */

.child__grid__1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 200px;
}

.done {
  width: 30px;
  background: blue;
}

.main__grid__comp {
  width: 500px;
  display: flex;
  gap: 50px;
}