.main__app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.main__calender {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.day {
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.completed {
  background: rgb(105, 101, 101);
}

.currDay {
  background: rgb(71, 238, 71);
}


.date__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 100px;
}

.date__info p {
  width: 300px;
  margin: 0;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ddd;
  text-align: center;
  min-width: 140px;
  color: white;
}


@media (max-width: 768px) {
  .day {
    width: 10px;
    height: 10px;
  }

  .main__calender {
    gap: 5px;
  }
}